.footer__content {
	font-size: 1.6rem;
	text-align: center;
	padding: 2rem;
	font-family: "oswald", sans-serif;
	/* 	position: fixed;
	bottom: 0; */
	width: 100%;
	background-color: lightgray;
	display: block;
}

.footer__content:hover {
	cursor: pointer;
	color: orange;
}

@media screen and (max-width: 1100px) {
	.footer__content {
		padding: 0.3rem;
		font-size: 0.8rem;
	}
}
