.item {
	width: 280px;
	height: 280px;
	background-color: #f05a1a;
	border-radius: 50%;
	font-size: 2.5rem;
	color: white;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
	font-family: "Oswald", sans-serif;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

.item:hover,
.item:active {
	background-color: orange;
	cursor: pointer;
}

@media screen and (max-width: 620px) {
	.item {
		width: 150px;
		height: 150px;
		font-size: 1.7rem;
	}
}
